/* Segmentos */
body {
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to right bottom, #91baf7, #4cadd9, #009cb0, #008880, #287252);
    margin:0;
    text-align: center;
}

header {
    background-color:#4b74bc;
    opacity: 70%;
    display: flex;
    justify-content: center;
    width: fill;
}

.container, .container_rs {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.inicio img {
    width: 500px;
}

/* Etiquetas específicas */
nav li {
    display:inline-block;   
    margin: 0 30px 10px 30px;
}

header li a, h1 a {
    text-decoration-line: none;
    color:white;
}

nav ul {
    margin: 0px;
}

.creditos {
    text-align: start;
}

.creditos, .container_p {
    height: 100vh;
    width: 100%;
}

.creditos article {
    margin: 15px 0 0 0;
}

nav h1 a {
    display:flex;
    justify-content:center;
    color: black;
}

nav h1 {
    margin:5px;
}

main h1 {
    -webkit-text-stroke: 0.5px black;
}

main h2 {
    font-size:20px;
}

footer {
    display: none;
}


/* Recomendaciones */

.categorias {
    position: relative;
}

.categorias figure img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.categorias p {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.linea {
    position: absolute;
    background-color: #666;
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translateX(50%);
}

.container_l {
    display: flex;
    justify-content: center;
    position: relative;
}

.esp-izq {
    flex-basis: 90%;
    display: flex;
    justify-content: flex-end;
}

.esp-der {
    flex-basis: 90%;
    display: flex;
    justify-content: flex-start;
}

.categorias article {
    display: flex;
    align-items: center;
    margin: 5px;
    flex: 1;
}

.der {
    display: flex;
    justify-content: flex-end;
}


/* Categorías de recomendaciones */

.categorias_r img {
    width: 170px;
    margin: 0px;
}

.categorias_r {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h1 {
    margin: 10px;
    display: flex;
    justify-content: center;
}


/* Plataformas */

.plataformas img {
    width: 150px;
    margin: 5px;
}

.plataformas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

/* Tiendas de computadora */

.img-tiendas img {
    width: 200px;
    margin: 30px;
}

.img-tiendas, .botones {
    display: flex;
    justify-content: center;
    margin: 20px;
}



@media (max-width: 750px) {

    footer {
        background-color:#526f46;
        display:flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
    }

    .container {
        height: 100vh;
    }

    #linea-horizontal {
        display: flex;
        align-items: flex-end;
        margin: 70px 0 40px 0;
        height: 2px;
        background-color: #3c453c; /* Cambia el color de fondo según tus preferencias */
        border: none;
    }

    #creditos_m {
        display:none;
    }

    nav li {
        display:inline-block;   
        margin: 0 10px 0 10px;
    }

    .inicio img {
        width:200px;
    }

    .categorias figure img {
        width: 35px;
        height: 35px;
    }

    .categorias figure {
        margin: 0px;
    }

    .categorias article {
        margin: 0px;
    }

    .categorias p {
        font-size: 10px;
    }

    body {
        font-size: 15px;
    }

    .categorias_r img {
        width: 70px
    }
    
    .categorias_r, .plataformas {
        font-size: 10px;
        display: inline-flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .categorias_r figure {
        margin:5px;
    }

    .container_r, .plataformas {
        display: flex;
        justify-content: center;
    }

    .espacio-izquierda,
    .espacio-derecha {
      flex-basis: 100%;
    }

    .categorias figure {
        margin: 10px;
    }
}