/* Segmentos */
body {
    color: white;
    font-size: 20px;
    background-color:#9de180;
    margin:0;
}

header {
    background-color:#4b74bc;
    display:flex;
    justify-content:center;
    width:fill;
}

.container {
    margin: 10px;
    padding: 20px;
}

/* Etiquetas específicas */
nav li {
    display:inline-block;   
    margin: 0 30px 0 30px;
}

li a, h1 a {
    text-decoration-line: none;
    color:white;
}

nav h1 a {
    display:flex;
    justify-content:center;
    color: black;
}

nav h1 {
    margin:10px;
}

main h1 {
    -webkit-text-stroke: 0.5px black;
}

main h2 {
    font-size:20px;
}


/* Recomendaciones */
  
.categorias {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
  
.linea {
    position: absolute;
    background-color: #666;
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translateX(50%);
}
  
.categorias article {
    display: flex;
    margin: 20px;
    flex: 1;
    align-items: center;
}

.izq {
    display:flex;
    justify-content:flex-end;
}

.categorias figure img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.categorias p {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* Categorías de recomendaciones */

.categorias_r img {
    margin: 10px;
    width: 150px
}

.categorias_r {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    justify-content: center;
    text-align: center;
}


@media (max-width: 750px) {


    .categorias figure img {
        width: 30px;
        height: 30px;
    }

    .categorias figure {
        margin:5px;
    }

    .categorias article {
        margin: 5px;
    }

    .categorias p {
        font-size: 10px;
    }

    body {
        font-size: 15px;
    }
}